<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    backupGlobals="false"
    bootstrap="vendor/autoload.php"
    colors="true"
    stopOnFailure="false">

    <filter>
        <whitelist
            addUncoveredFilesFromWhitelist="true"
            processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">src/</directory>
        </whitelist>
    </filter>
    
    <logging>
        <log type="coverage-html" target="temp/coverage/"/>
        <log type="coverage-clover" target="temp/coverage/coverage.xml"/>
    </logging>

    <testsuites>
        <testsuite name="unit">
            <directory suffix=".php">tests/unit/</directory>
        </testsuite>
        <testsuite name="e2e">
            <directory suffix=".php">tests/e2e/</directory>
        </testsuite>
    </testsuites>

</phpunit>